{% extends "Navbar.html" %}

{% block title %}polls{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
            </div>
            {% if polls %}
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>{{ polls.question }}</strong>
                    <span class="float-right">
                        <a href="{% url 'Groups:vote_polls' group.pk %}" class="btn btn-primary btn-xs">Vote</a> &nbsp;
                        <a href="{% url 'Groups:result_polls' group.pk %}" class="btn btn-info btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
            </ul>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

