{% extends 'Navbar.html' %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary" role="alert">
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <style>
    .card{
        margin-left:50px;
        margin-right:50px;
        margin-top:50px;
    }
    .buttons {
      padding-left: 50px;
    }
  </style>

  <div class="container">
    <div class="row">
        <div class="col-sm">
          <a class="btn btn-outline-primary mb-3" href="{% url 'Groups:makegroup' %}" role="button">
            Create Group
          </a>
        </div>
        <div class="col-sm">
          <a class="btn btn-outline-primary mb-3" href="{% url 'Groups:my_invites' %}" role="button">
            Check Invites
          </a>
        </div>
        <div class="col-sm">
          <a class="btn btn-outline-primary mb-3" href="{% url 'Users:black_white' %}" role="button">
            BlackBox and WhiteBox
          </a>           
        </div>
    </div>
  </div>


  <div class="row">
      {% for group in groups %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#">{{ group.name }} owned by <br/> {{group.owner}}</a>    
            </h5>
            <p class="card-text">Group Purpose: {{ group.purpose }}</p>
            <a href="{% url 'Groups:group_detail' group.pk  %}" class="btn btn-primary">Details &rarr;</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
