{% extends 'Navbar.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <a class="nav-link" href="{% url 'Groups:makegroup' %}">Click Here To make your own group!</a>
    {% for group in groups %}
        <div>
            {{ group }}
            Owner: {{ group.owner }}
            Name: {{ group.groupName }}
            purpose: {{ group.purpose }}
            <a href="{% url 'Groups:group_detail' group.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    {% endfor %}
{% endblock %}
