{% extends 'Navbar.html' %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2 class="my-4">{{ object.name }} Members</h2>
      {% if member %}
      <a class="btn btn-outline-primary mb-3" href="{% url 'Groups:invite' %}" role="button">Invite</a>
      <a class="btn btn-outline-primary mb-3" href="{% url 'UserVote:u_vote' object.pk %}" role="button">Start Vote</a>
      <button type="button" class="btn btn-outline-primary mb-3" >Leave {{ object.name }}</button>
      {% endif %}
      <div class="list-group d-inline">
        {% for member in members %}
            <div class="list-group-item">{{ member }}</div>
        {% endfor %}

        <br>

      </div>
    </div>
    <div class="col-lg-9 project-descr">
      <h4 class="my-text">
        {{ object.name }}'s purpose:
      </h4>
      <p>{{ object.purpose }}</p>

      <h4 class="my-text">
        {{ object.name }} Member Post:
        {% if member %}
        <a class="btn btn-outline-primary mb-3" href="{% url 'Groups:new_post' object.pk %}" role="button">Post</a>
        {% endif %}
      </h4>
      {% for post in posts %}
        <div class="col-lg-9 project-descr">
          <div class="card h-100">
            {% if member %}
            <button type="button" class="btn btn-outline-primary mb-3" >
              <a href="{% url 'Post:delete' post.id %}">Delete Post</a>
            </button>
            {% endif %}
            <div class="card-body" >
              <h4 class="card-title">{{ post.title }}</h4>
              <p class="card-text">{{ post.desc }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Posted By: {{ post.user }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
  </div>
</div>

{% endblock %}
