{% extends 'Navbar.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2 class="my-4">Group Members</h2>
      <div class="list-group d-inline">
        <a href="#" class="list-group-item">Bryan Rivas</a>
        <a href="#" class="list-group-item">Edgar Pineda</a>
        <a href="#" class="list-group-item">Shazeb Rizvi</a>
        <a href="#" class="list-group-item">Cho Hyunim</a>

        <br>

        <button type="button" class="btn btn-outline-primary mb-3" >Start Vote</button>
        <button type="button" class="btn btn-outline-primary mb-3" >Leave Group</button>

      </div>
    </div>
    <div class="col-lg-9 project-descr">
      <h4 class="my-text">
        Group's purpose:
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum eros blandit sem dignissim porttitor.
        Vivamus maximus augue sit amet faucibus mattis. Duis cursus ultricies ornare. Maecenas sit amet tristique risus.
        In ut suscipit lectus. Vivamus vitae accumsan mauris. Mauris maximus, augue rhoncus mattis elementum, enim eros lobortis libero,
        sed tristique nulla ipsum ac turpis. Nullam vitae facilisis tellus. Sed aliquet ornare suscipit. Morbi rutrum risus vel erat placerat,
        eget laoreet arcu dapibus. Curabitur non dignissim augue. Praesent laoreet
        justo felis, nec pellentesque risus porttitor eget. Donec nec felis tincidunt, aliquet libero non, gravida massa.</p>
    </div>
  </div>
  </div>
</div>

{% endblock %}
