{% extends 'Navbar.html' %}

{% block content %}

<h2>Group Members</h2>
  <ul class="list-group myUl w-25">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Bryan Rivas
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Shazeb Rizvi
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Edgar Pineda
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Cho Hyunim
    </li>
  </ul>
{% endblock %}
