{% extends 'Navbar.html' %}

{% block content %}
  <div class="col-sm-10 offset-sm-1 text-center">
    <h3 class="display-10">TeamUp Login</h3>
    <a href="{% url 'Apply' %}">Don't have an account? Click here to Signup!</a>
    {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  </div>
  
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <div class="row justify-content-center">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="col text-center">
      <button type="submit" class="btn btn-primary my-1">Login</button>
    </div>
  </form>
{% endblock %}
