{% extends 'Navbar.html' %}
{% load static %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <p>{{ user.username }} </p>
    <div class="">
        <p>Email: {{ user.application.email }}</p>
        <p>First Name: {{ user.application.firstName }} </p>
        <p>Last Name: {{ user.application.lastName }} </p>
        <p>Rep Score: {{ user.accepteduser.rep_score }}</p>
        {% if user.accepteduser.is_OU %}
            <div class="">Role: OU</div>
        {% endif %}
        {% if user.accepteduser.is_VIP %}
            <div class="">Role: OU</div>
        {% endif %}
        {% if user.accepteduser.is_SU %}
            <div class="">Role: SU</div>
        {% endif %}

        {% if ref %}
            <h3>New Users that got accepted with you as a reference</h3>
            {% for users in ref %}
                <ul>
                    <li>{{ users.user }}</li>
                </ul>
            {% endfor %}
            <h4>Give an initial reputation score </h4>

            <form action="" method="post">
                {% csrf_token %}
                {{ form.users }}
                {{ form.score }}
                <input class="btn btn-primary" type="submit" value= "Submit"> 
            </form>

        {% endif %}
    </div>
    {% if groups %}
        <h4>your groups!</h4>
        {% for group in groups %}
            {{ group.group }}
        {% endfor %}
    {% else %}
        <h5>you are not in any groups!</h5>
    {% endif %}

{% endblock %}
