{% extends 'Navbar.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post">
        <div class="row">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="/media/media/vote.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Vote for a Super user! </h4>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="col text-center">
                        <div class="">Vote for: {{ form.vote_for }}
                            {{ form.vote_by }}
                            <button type="submit" class="btn btn-primary my-1">Submit!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
