{% extends 'Navbar.html' %}

{% block content %}
    <div class="container" style="padding-top: 100px;">
        <form method="POST">
            {% csrf_token %}

            <div class="text-center">
                <h1><b class="">Add User to Black Box</b></h1>
            </div>
            
            <div class="col d-flex justify-content-center" style="padding-top: 50px;">
                <div class="col-sm-5 text-center">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row" style="padding-left: 100px;">
                                <b>Users:</b> {{ form.user }}
                            </div>
                
                            <div class="row">
                                <hr />
                                <div class="col-lg-4" style="padding-top: 15px;">
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}