{% extends 'Navbar.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.accepteduser.is_SU %}
            {% if appeals %}
            <p style="margin-left:40px; margin-right:50px; font-size:50px"> 
                Hello, {{ user.accepteduser }}, these are appeals!</p>
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="main">
                    <div class="row">
                        {% for user in appeals %}
                        <div class="col-sm-2">
                            <div class="card text-center">
                                <div class="card-header">
                                    <p>applicant: {{ user }} </p>
                                </div>
                                <div class="card-text">
                                    <br/>
                                    <p>Email: {{ user.email }}</p>
                                    <p>First Name: {{ user.firstName }}</p>
                                    <p>Last Name: {{ user.lastName }}</p>
                                    <p>Reference: {{ user.reference }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <br/>
                <form action="" method="post">
                    <p style="margin-left:20px;"> 
                    {% csrf_token %}
                    appeal: {{ form.appeal }}
                    response: {{ form.response }} <br/>
                    username: {{ form.username }}
                    password: {{ form.password }}
                    <input class="btn btn-primary" type="submit" value= "Submit"> 
                </form>
            {% else %}
            <style>
                .title{
                    text-align: center;
                    font-size:60px;
                    font-weight : bold;
                }
                .main{
                    width:1000px;
                    margin:0 auto;
                    margin-top:350px;
                }
            </style>
            <div>
                <div class ="main">
                    <div class="title">
                        No New Appeals
                    </div>
                </div>
            </div>
            {% endif %}
        {% else %}
            <h2>You are not a super user!</h2>
        {% endif %}
    {% endif %}
{% endblock %}