{% extends 'Navbar.html' %}

{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}

        <h4 class="text-center"><b>Only For appeals</b></h4>
        <div class="row">
            <b>Email:</b> {{ form.email }}
        </div>
        <div class="row">
            <b>First Name:</b> {{ form.firstName }}
        </div>
        <div class="row">
            <b>Last Name:</b> {{ form.lastName }}
        </div>
        <div class="row">
            <b>Reference:</b> {{ form.reference }}
        </div>
        <div class="col-lg-4" style="padding-top: 15px;">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>

    </form>
</div>

{% endblock %}