{% extends 'Navbar.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.accepteduser.is_SU %}
            {% if applications %}
                <h1> Hello {{ user.accepteduser }}!</h1>
                <div class="row">
                    {% for user in applications %}
                        <div class="col-sm-2">
                            <div class="card text-center">
                                <div class="card-header">
                                    <p>application: {{ user }} </p>
                                </div>
                                <div class="card-text">
                                    <p>Email: {{ user.email }}</p>
                                    <p>First Name: {{ user.firstName }}</p>
                                    <p>Last Name: {{ user.lastName }}</p>
                                    <p>Interest: {{ user.interest }}</p>
                                    <p>Credential: {{ user.credential }}</p>
                                    <p>Reference: {{ user.reference }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    application: {{ form.application }}
                    response: {{ form.response }}
                    username: {{ form.username }}
                    password: {{ form.password }}
                    <input class="btn btn-primary" type="submit" value= "Submit"> 
                </form>
            {% else %}
                <h2>No new users founds</h2>
            {% endif %}
        {% else %}
            <h2>You are not a super user!</h2>
        {% endif %}
    {% endif %}
{% endblock %}