{% extends 'Navbar.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.accepteduser.is_SU %}
            {% if users %}
                <h1> Hello {{ user.accepteduser }}!</h1>
                <div class="row">
                    {% for user in users %}
                        <div class="col-sm-2">
                            <div class="card text-center">
                                <div class="card-header">
                                    <p>User: {{ user.application }} </p>
                                </div>
                                <div class="card-text">
                                    <p>Email: {{ user.application.email }}</p>
                                    <p>First Name: {{ user.application.firstName }}</p>
                                    <p>Last Name: {{ user.application.lastName }}</p>
                                    <p>Interest: {{ user.application.interest }}</p>
                                    <p>Credential: {{ user.application.credential }}</p>
                                    <p>Reference: {{ user.application.reference }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.user }}
                    {{ form.response }}
                    <input class="btn btn-primary" type="submit" value= "Submit"> 
                </form>
            {% else %}
                <h2>No new users founds</h2>
            {% endif %}
        {% else %}
            <h2>You are not a super user!</h2>
        {% endif %}
    {% else %}
        <a href="{% url 'Login' %}" class="btn btn-primary">Click to login here</a>
    {% endif %}
{% endblock %}