<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% if user.profile.is_SU %}
            {% if users %}
                {% for user in users %}
                    {{ user.username }}
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        </p>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <h2>No new users founds</h2>
            {% endif %}
        {% else %}
            <h2>You are not a super user!</h2>
        {% endif %}
    {% else %}
        <a href="{% url 'Users:Login' %}">Click to login here</a>
    {% endif %}
</body>
</html>